body {
  background-color: #ffffe3;
  color: #253a52;
  padding: 25px;
  font-family: sans-serif;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
  font-family: 'Changa', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Changa', sans-serif;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 200%;
}

a.btn {
  text-decoration: none;
  color: #ffffe3;
  background: #1348da;
  padding: 0 1rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  border-radius: 1.25rem;
}

.profile-img {
  width: 320px;
  margin-inline-end: 4rem;
}

.bio {
  display: flex;
}

